.home-container {
    padding: 20px 35px;
    margin:0;
    height:100vh;

    /* background: linear-gradient(to right, rgb(27, 29, 65), rgb(61, 92, 70)); */
    
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.home-title{
    display:flex;
    align-items: center;
    background-image: url(1.jpg);
    height: 150px;
    
}

.home-title > img {
    max-height:100px;
    object-fit:contain;
    margin-right:20px;
}

.home-greeting > h1 {
    font-size: 24px;
    color: #85C232;
    /* color: black; */
    margin-bottom:5px;
    
   
}

.home-greeting > p {
    font-size: 14px;
    font-weight:700;
    color: #a5aaad;
}

.home-cards {
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:30px;
    margin:20px 0; */
}

.logo {
    padding: 0;
}

.card-inner {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
/* .logo-image{
    
    
    background-image:url('');
    background-size: contain;
    background-position:top ;
    background-repeat:no-repeat;
    background-clip: padding-box;
    height: 80%;


}  */


.card-inner .icons{
    font-size: x-large;
}

.count{
    font-size: 25px;
}
.counters .small-text{
    font-size: 12px; 
    text-align: end;
}

.big-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    margin-top:50px; 
}

.mail-container {
    margin:0 auto;  
}



.mail-container input, .mail-container textarea{
    width:100%;
    padding:6px 10px;
    margin:10px 0;
    box-sizing: border-box;
    display: block;
}

.mail-container button{
    background: rgb(27, 29, 65);
    color: #85C232;
    font-weight: bold;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.mail-container .attach input {
   text-align: right;
   display: block;
}


@media only screen and (max-width: 855px) {
    .home-container{
        height:100vh;
    }
    .home-cards{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
    .big-cards {
       grid-template-columns: 1fr;
       margin-top: 30px;
    }

}