<html lang='en'>
  <head>
    <meta charset='utf-8' />
  
    <link href='/Users/14038/OneDrive/Documents/Development/lastCopyP3/Civitas/client/node_modules/fullcalendar/main.css' rel='stylesheet' />
    <script src='/Users/14038/OneDrive/Documents/Development/lastCopyP3/Civitas/client/node_modules/fullcalendar/main.js'></script>
    <script>
  
      document.addEventListener('DOMContentLoaded', async function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
       
        let events=[]
        
            
        let response= await fetch('http://localhost:3000/event');
        let data = await response.json();
        
        console.log("data 43 ",data)
        console.log("44 ",data[0].title)
        for(i=0;i<data.length;i++){
            events.push({title: '' , start: '2021-08-27'})
            events[i].title=data[i].name
            events[i].start=data[i].start
            calendar.addEvent(events[i]);
        }

        console.log("events:", events)
        
        calendar.render();
      });

    </script>
  </head>
  <body>
    <div id='calendar'></div>
  </body>
</html>