.createform{
    position:fixed;
    top:25px; 
    left: 340px; 
    width: 60%;
    height:100vh;
    background-color: rgb(243, 241, 241);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    z-index: 9999;
}

/* .popup-in{
    position:fixed;
    padding:25px;
    width:100%;
    max-width: 1000px;
    background-color: #fff;
} */
.popup-in{
    margin: auto;
  background: rgb(253, 253, 253);
  width: 100%;
  padding: 25px;
  margin-bottom: auto;
  align-self: center;
  z-index: 9999;
  overflow-x: auto;
  height: 68vh;
  
} 
.createform label{
    text-align:left;
    display:block;
} 

.popup-in closebtn{
    position: absolute;
    top: 2px;
    right: 7px;
    font-weight: bold;
    background-color: white;
    font-size: larger;
    margin-bottom: auto; 
}

.popup-in-signUp {
    margin: auto;
    background: rgb(243, 241, 241);
    width: 100%;
    padding: 225px;
    margin-bottom: auto;
    align-self: center;
}

.createform h4{
    margin-bottom: auto;
}

.createform input, select{
    width:100%;
    padding: 6px 10px;
    margin:8px 0;
    border: 1px solid rgb(12, 10, 10) !important;
    box-sizing: border-box !important;
    display:block;   
}

.createform .row{
    width:100%;
    clear:both;  
}

.createform .col3{
    float:left;
    width: 32%;
    margin-right: 7.7px;
    
}

.createform .col4{
    float:left;
    width: 23%;
    margin-right: 7.7px;
}

.createform .col2{
    width:50%;
    float:left;
}

.createform .col2-rate{
    width:48%;
    float:left;
    margin-right: 11.5px;
}

.createform table{ 
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 3px;
}
.createform button{
    background-color: #252525;
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;

}

.createform .clear{
    font-weight: bold;
    background-color: rgb(51, 50, 50);
    font-size: larger;
}


.closebtn {
    position: absolute;
    top: 30px;
    right: 4px;;
    font-weight: bold;
    background-color: white;
    font-size: larger;
    margin-bottom: auto;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}